@font-face {
    font-family: 'Weight';
    src: url("../fonts/weight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stretch Pro';
    src: url("../fonts/stretch-pro.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url("../fonts/nexa.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend';
    src: url("../fonts/lexend.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend';
    scroll-behavior: smooth;
    transition: all 0.3s ease;
    /* da pra controlar a velocidade do slider aqui, com !important */
}

body.dark-mode,
.dark-btn.dark-mode,
.item.dark-mode,
.icon.dark-mode,
.container.dark-mode,
.carousel-control-next.dark-mode,
.carousel-control-prev.dark-mode {
    background-color: #222 !important;
    color: #fff !important;
}

.symbol i.dark-mode {
    background-color: #222 !important;
}

.symbol p.dark-mode,
.container p.dark-mode {
    color: #fff;
}

.container.dark-mode:hover {
    filter: drop-shadow(0px 0px 10px #ffffff4f);
}

.carousel.dark-mode {
    box-shadow: 0px 10px 40px #ffffff4f;
    border-bottom: 0.5px solid #ffffff;
}

.items.open {
    translate: 10px 0px;
    transition: translate 0.5s ease;
}

body {
    background-color: #e7e7e7;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    z-index: 50;
    align-items: center;
    position: fixed;
}

.items {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px;
    justify-self: center;
}

.logo {
    margin-right: 10px;
    display: flex;
    align-self: center;
    color: #000000;
    font-weight: bold;
    filter: drop-shadow(0px 5px 0px #000000);
    cursor: pointer;
}

.logo img {
    width: 80px;
}

.item {
    min-width: 100px;
    color: #000;
    background-color: #fff;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
    margin: 0;
    font-size: 13px;
    text-decoration: none;
    text-wrap: nowrap;
    border: 3px solid #000;
    filter: drop-shadow(0px 5px 0px #000);
    cursor: pointer;
}

.dark-btn {
    margin-left: 10px;
    width: 50px;
    color: #000;
    background-color: #ffffff;
    padding: 3px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    border: 3px solid #000;
    filter: drop-shadow(0px 5px 0px #000);
    cursor: pointer;
}

.item:hover,
.logo:hover,
.dark-btn:hover,
.icon:hover,
.carousel-control-next:hover,
.carousel-control-prev:hover,
.symbol i:hover {
    translate: 0px 5px;
    filter: drop-shadow(0px 0px 0px #000);
    transition: 0.3s ease;
}

.item:active,
.dark-btn:active,
.icon:active,
.carousel-control-next:active,
.carousel-control-prev:active,
.symbol i:active {
    background-color: #4d945d !important;
    color: #fff !important;
}

.icon {
    display: none;
    height: 50px;
    width: 50px;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid #000;
    filter: drop-shadow(0px 5px 0px #000);
    cursor: pointer;
}

#menu {
    display: none;
}

@media (max-width: 768px) {

    /* para transformar o header em menu hamburguer */
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        padding: 20px;
    }

    .items {
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        transition: translate 0.5s;
        z-index: 20;
        translate: -150px 0px;
    }

    .icon {
        display: block;
        cursor: pointer;
        z-index: 30;
        font-weight: bolder;
    }

    .dark-btn,
    .logo {
        margin: 0;
    }
}

.carousel {
    box-shadow: 0px 10px 40px #0000004f;
    border-bottom: 0.5px solid #000;
}

.carousel-item img,
.carousel-item.active img {
    height: 725px;
    object-fit: cover;
    object-position: top;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    /* Anchor to the carousel container */
    top: 50%;
    /* Place at vertical midpoint */
    transform: translateY(-50%);
    /* Shift up by half the button height to center */
    height: 50px;
    width: 50px;
    color: #000 !important;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid #000;
    filter: drop-shadow(0px 5px 0px #000);
    opacity: 1 !important;
}

.carousel-control-prev {
    left: 15px;
    /* Position near the left edge */
}

.carousel-control-next {
    right: 15px;
    /* Position near the right edge */
}

.carousel-indicators {
    gap: 10px;
}

.carousel-indicators button {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
}

.carousel-indicators button.active {
    border: 3px solid #000;
    filter: drop-shadow(0px 3px 0px #000);
    background-color: #23432a;
    transition: 0.5s;
}

.symbols {
    display: flex;
    background-color: transparent;
    justify-content: center;
    gap: 100px;
    padding: 40px;
    padding-bottom: 0px;
    flex-wrap: wrap;
}

.symbol {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    align-content: center;

}

.symbol i {
    width: 100px;
    height: 100px;
    align-content: center;
    font-size: 60px;
    background-color: #fff;
    color: #4d945d;
    border-radius: 50px;
    border: 3px solid #000;
    filter: drop-shadow(0px 5px 0px #000);
}

.symbol p {
    margin-top: 10px;
    font-size: 30px;
    color: #000;
    font-family: 'Weight';
}

.conjunto {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    flex-grow: 1;
}

.container {
    display: flex;
    box-shadow: 0px 5px 0px #000;
    border: 3px solid #000;
    border-radius: 50px;
    background-color: #fff;
    padding: 30px;
    flex-direction: column;
    margin: 0;
}

.container:hover {
    filter: drop-shadow(0px 0px 10px #0000004f)
}

.titulo {
    font-family: 'Stretch Pro';
    text-align: center;
    margin-bottom: 20px;
}

.container strong {
    color: #4d945d;
}

.container.roda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-align: center;
}

.container.roda .sla2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container.roda img {
    max-width: 100px;
    height: auto;
}

.rodinha {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sla2 img {
    transform: rotate(90)
}

.sla2 span {
    
}

svg {
    width: 100%;
    height: 100%;
    display: block
}

.wheel-wrap {
    display: flex;
    justify-self: center;
    border-radius: 50%;
    border: 10px solid #4d945d;
    width: 500px;
    height: 500px;
    display: grid;
    place-items: center;
    position: relative
}

.center-label {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #fff;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: 20px !important;
    line-height: 28px;
}

path.sector {
    cursor: pointer;
    stroke-width: 2;
    transition: filter .12s ease
}

path.sector:hover {
    filter: brightness(.9)
}

path.sector.selected {
    stroke: #222;
    filter: drop-shadow(0px 0px 10px #00000040)
}

image.icon {
    pointer-events: none
}

button.clear {
    margin-top: 8px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #f7f7f7
}

.sector:focus,
.sector.selected {
    outline: none;
    stroke: none;
}

.girarRoletaBtn {
    margin: 8px;
    display: block;
    padding: 15px 32px;
    font-size: 22px;
    background-color: #4d945d;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.girarRoletaBtn:hover {
    background-color: #23432a;
}

.btns {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
}

footer {
    width: 100%;
    height: 190px;
    background-color: #000000;
    font-weight: bold;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer p {
    font-size: 23px;
    margin-bottom: 25px;
    font-family: 'Stretch Pro';
}

.containerfooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redesfooter {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.redesfooter a {
    color: #fff;
    font-size: 40px;
    transition: color 0.2s, scale 0.2s;
}

.redesfooter a:hover {
    color: #4d945d;
    scale: 115%;
}