@import url('carousel.css');

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend';
    scroll-behavior: smooth;
    transition: all 0.3s ease;
    /* da pra controlar a velocidade do slider aqui, com !important, ou no carousel.css */
}

@font-face {
    font-family: 'Weight';
    src: url("../fonts/weight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mont';
    src: url("../fonts/mont.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stretch Pro';
    src: url("../fonts/stretch-pro.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend';
    src: url("../fonts/lexend.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body.dark-mode,
.dark-btn.dark-mode,
.item.dark-mode,
.icon.dark-mode,
.container.dark-mode,
.info.dark-mode,
.arrow.dark-mode,
.title.dark-mode {
    background-color: #222 !important;
    color: #fff !important;
}

.container p.dark-mode {
    color: #fff;
}

.container.dark-mode:hover {
    filter: drop-shadow(0px 0px 10px #ffffff4f);
}

.items.open {
    translate: 10px 0px;
    transition: translate 0.5s ease;
}

.item:hover,
.logo:hover,
.dark-btn:hover,
.icon:hover,
.ods-icon:hover,
.title:hover,
.arrow:hover {
    translate: 0px 5px;
    filter: drop-shadow(0px 0px 0px #000);
    transition: 0.3s ease;
}

.item:active,
.dark-btn:active,
.icon:active,
.arrow:active {
    background-color: #4d945d !important;
    color: #fff !important;
}

body {
    background-color: #e7e7e7;
}

header {
    width: 100%;
    height: clamp(50px, 2.5vw, 70px);
    display: flex;
    justify-content: center;
    z-index: 50;
    align-items: center;
    position: fixed;
    border-radius: 50px;
}

.logo {
    margin-right: 10px;
    display: flex;
    align-self: center;
    color: #000000;
    font-weight: bold;
    filter: drop-shadow(0px 5px 0px #000000);
    cursor: pointer;
}

.logo img {
    width: clamp(60px, 4vw, 80px);
}

.items {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px;
    justify-self: center;
}

.item {
    min-width: 100px;
    color: #000;
    background-color: #fff;
    padding: 7px;
    border-radius: 50px;
    text-align: center;
    margin: 0;
    font-size: clamp(13px, 2.5vw, 13px);
    text-decoration: none;
    text-wrap: nowrap;
    border: 3px solid #000;
    filter: drop-shadow(0px 5px 0px #000);
    cursor: pointer;
}

.dark-btn {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    color: #000;
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    font-size: 24px;
    border: 3px solid #000;
    filter: drop-shadow(0px 5px 0px #000);
    cursor: pointer;
}

.icon {
    display: none;
    height: clamp(40px, 2.5vw, 50px);
    width: clamp(40px, 2.5vw, 50px);
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: clamp(22px, 3vw, 30px);
    font-weight: bold;
    border: 3px solid #000;
    filter: drop-shadow(0px 5px 0px #000);
    cursor: pointer;
    align-content: center;
}

#menu {
    display: none;
}

@media (max-width: 768px) {

    /* para transformar o header em menu hamburguer, versão sem bootstrap (ele buga alguns elementos) */
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        padding: 10px 0px;
    }

    .items {
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        transition: translate 0.5s;
        z-index: 20;
        translate: -150px 0px;
    }

    .icon {
        display: block;
        cursor: pointer;
        z-index: 30;
        font-weight: bolder;
    }

    .dark-btn,
    .logo {
        margin: 0;
    }

    .dark-btn {
        margin-right: 20px;
    }

    .icon {
        margin-left: 20px;
    }
}

.empty {
    height: 55px;
    width: 100%;
}

.background-ods {
    height: 300px;
    background-color: #909090;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 0px #000;
    border: 3px solid #000;
    border-radius: 20px;
    margin: 20px;
    align-content: end;
    padding: 20px clamp(50px, 2.5vw, 80px);
    margin-bottom: 50px;
}

.title {
    display: flex;
    align-self: top !important;
    justify-self: center;
    max-width: 500px;
    font-weight: normal;
    font-family: 'Stretch Pro';
    font-size: clamp(17px, 4vw, 40px);
    align-content: top !important;
    text-align: left;
    text-wrap: wrap;
    color: #000000;
    width: min-content;
    filter: drop-shadow(0px 5px 0px #000);
    border: 3px solid #000;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
}

.ods {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: end;
    translate: 0px clamp(50px, 5vw, 70px);
    color: #fff;
    gap: 30px;
}

.ods-icon {
    display: flex;
    width: clamp(200px, 30vw, 300px);
    height: clamp(200px, 30vw, 300px);
    aspect-ratio: 1/1;
    background-size: contain;
    background-repeat: repeat;
    filter: drop-shadow(0px 5px 0px #000);
    border: 3px solid #000;
    border-radius: 20px;
}

.conjunto {
    display: flex;
    align-content: stretch;
    padding: clamp(20px, 2.5vw, 40px);
    gap: 40px;
}

.titulo {
    font-family: 'Stretch Pro';
    text-align: center;
    font-weight: normal;
}

.titulo.sub {
    font-family: 'Lexend';
    font-size: clamp(18px, 1.5vw, 30px);
    padding-bottom: 10px;
}

.container {
    display: flex;
    box-shadow: 0px 5px 0px #000;
    border: 3px solid #000;
    border-radius: 50px;
    background-color: #fff;
    padding: clamp(35px, 4vw, 40px);
    flex-direction: column;
    color: #000;
    margin: 0;
    font-size: clamp(14px, 2.5vw, 20px);
    width: inherit;
}

.container:hover {
    filter: drop-shadow(0px 0px 10px #0000004f)
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    overflow: hidden;
    padding: 50px 0;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    gap: 0;
    /* controla o espaçamento */
    flex-wrap: nowrap;
}

.game img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 25px;
    display: block;
}

.game {
    flex: 0 0 25%;
    /* 4 itens exatos */
    max-width: 25%;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 10px;
}

.info {
    position: absolute;
    left: 10px;
    /* considera o padding horizontal do .game */
    right: 10px;
    bottom: 0px;
    /* sobe um pouco do fundo para seguir o raio da imagem */
    max-height: 0;
    border: 3px solid #000;
    filter: drop-shadow(0px 5px 0px #000);
    background-color: #ffffff;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Mont';
    opacity: 0;
    overflow: hidden;
    padding: 0 12px;
    margin: 10px;
    /* padding inicial pequeno */
    transition: max-height 0.3s ease, opacity 0.22s ease, padding 0.3s ease;
    box-sizing: border-box;
    border-radius: 50px;
    z-index: 5;
    text-align: center;
}

.game:hover .info {
    max-height: 100px;
    /* limita a altura exibida */
    opacity: 1;
    padding: 50px;
    /* padding coerente com a max-height */
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none;
}

.carousel-button {
    transition: opacity 0.3s ease;
}

.carousel-button[style*="display: none"] {
    opacity: 0;
    pointer-events: none;
}

.arrow {
    background-color: #ffffff;
    border: 3px solid #000;
    color: #000000;
    filter: drop-shadow(0px 5px 0px #000);
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    pointer-events: auto;
}

.fa-caret-left,
.fa-caret-right {
    font-size: 25px;
    font-weight: bold;
}

footer {
    width: 100%;
    height: clamp(130px, 10vw, 190px);
    background-color: #23432a;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

footer h2 {
    font-size: clamp(13px, 2vw, 21px);
    font-family: 'Stretch Pro';
    margin: 10px;
    font-weight: normal;
}

.containerfooter {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redesfooter {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.redesfooter a {
    color: #fff;
    font-size: clamp(30px, 2.5vw, 35px);
    transition: color 0.2s, scale 0.2s;
}

.redesfooter a:hover {
    color: #000;
    scale: 115%;
}

@media (max-width: 768px) {
    .ods {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .title {
        text-align: center;
        padding: 10px;
    }

    .background-ods {
        height: auto;
        padding: 20px 0px;
    }
}

@media (max-width: 1024px) {
    .game {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
}

@media (max-width: 768px) {
    .game {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 425px) {
    .game {
        flex: 0 0 100%;
        max-width: 100%;
    }
}