* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 30px;
}

body {
    font-family:"Jersey 10", sans-serif;
    background-color: #f5f6fa;
    --color1: #ffffff;
    --color2: #55B248;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color2);
    height: 70px;
    position: relative;
}

.nav-bar {
    list-style: none;
}

.nome {
    padding-top: 30px;
    padding-left: 20px;
    display: flex;
    justify-content: right;
    margin-right: 425px;
    margin-bottom: 20px;
    color: var(--color1);
}

.menu {
    display: flex;
    position: relative;
}

.menu .list {
    display: flex;
}

.menu li{
    margin-right: 65px;
    position: relative;
    color: var(--color1);
    display: flex;
    white-space: nowrap;
}

.menu li::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: var(--color1);
    transition: 0.2s ease-in-out;
}

.menu li a {
    text-decoration: none;
    color: var(--color1);
}

.menu li:hover::after {
    width: 100%;
}

button {
    width: 100%;
    border: none;
    background-color: #fff;
    background-color: transparent;
}
aside {
    width: 400%;
    align-items: center;
    width: 70%;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: -15px;
    margin: auto;
    font-style: italic;  
    background-color: #ffffff;   
    color: #312c2c;}
    

.imagem-texto {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .imagem-jogo {
    width: 400px;
    height: 300px;
    border-radius: 8px;
  }
  
  .texto-jogo {
    width: 700px;
    line-height: 1.5;
  }
 
  footer{
    text-align: center;
    background-color: #55B248; color: white; padding: 20px;
  }
  