* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 30px;
}

body {
    font-family: "Jersey 10", sans-serif;
    background-color: #f5f6fa;
    --color1: #000000;
    --color2: #ffffff;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color2);
    height: 70px;
    position: relative;
}

.nav-bar {
    list-style: none;
}

.nome {
    padding-top: 30px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    margin-right: 425px;
    margin-bottom: 20px;
    color: var(--color1);
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
}

.menu .list {
    display: flex;
    justify-content: center;
}

.menu li {
    margin-right: 65px;
    position: relative;
    color: var(--color1);
    display: flex;
    white-space: nowrap;
}

.menu li::after {
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 0;
    height: 1.5px;
    background-color: var(--color1);
    transition: 0.2s ease-in-out;
}

.menu li a {
    text-decoration: none;
    color: var(--color1);
}

.menu li:hover::after {
    width: 100%;
}

button {
    width: 100%;
    border: none;
    background-color: #fff;
    background-color: transparent;
}

.carousel-auto {
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    width: 310%;
    /* 3 imagens */
    animation: slideAuto 12s infinite;
}

.carousel-track img {
    width: 100vw;
    height: 670px;
    object-fit: cover;
    display: block;
}

@keyframes slideAuto {
    0%   { transform: translateX(0);}
    30%  { transform: translateX(0);}
    33%  { transform: translateX(-100vw);}
    63%  { transform: translateX(-100vw);}
    66%  { transform: translateX(-200vw);}
    97%  { transform: translateX(-200vw);}
    100% { transform: translateX(0);}
}

.container1 {
    align-items: center;
    background-color: #ffffff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    max-width: 750px;
    height: fit-content;
    justify-content: center;
}

.odslogo {
    width: 250px;
    height: 100px;
    margin-bottom: 30px;
}

.ods {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}



.ods:hover> :not(:hover) {
    filter: blur(0.5px);
    opacity: 0.5;
}

.container2 {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    padding: 30px;
    min-height: fit-content;
    min-width: 200px;
    max-width: 600px;
    align-items: center;  /* centraliza verticalmente */
    justify-content: center; /* centraliza horizontalmente */
    text-align: center;   /* centraliza o texto */
    overflow: hidden;
}

.containers {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width: 600px) {
    .container1 {
        max-width: 100%;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 40px;
    }

    .odslogo {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
    }

    .ods {
        grid-template-columns: repeat(3, 1fr);
        gap: 6px;
    }
}

@media (max-width: 900px) {
    .container1 {
        max-width: 100%;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        margin-bottom: 40px;
    }

    .odslogo {
        width: 100%;
        height: auto;
        margin-bottom: 16px;
    }

    .ods {
        grid-template-columns: repeat(3, 1fr);
        gap: 6px;
    }
}

.label1 {
    font-size: 40px;
    margin-top: 50px;
}

.containerjogos {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    padding: 30px;
    min-height: fit-content;
    min-width: fit-content;
    gap: 20px;
    justify-items: center;
}

.containerjogos img {
    width: 250px;
    height: 125px;
    object-fit: cover;

}

@media (max-width: 900px) {
    .containerjogos {
        grid-template-columns: repeat(2, 5fr);
        justify-content: center;
        gap: 10px;
    }
}

@media (max-width: 600px) {
    .containerjogos {
        grid-template-columns: repeat(1, 10fr);
        justify-content: center;
        gap: 10px;
    }
}

.infoterraria, .infostardew, .infoanno, .infozoo, .infoskyline, .infoplague, .infosubnautica, .infoeco, .infominecraft, .infocivilization {
    margin-top: -10px;
    text-align: center;
    top: 100%;
    left: 0;
    max-width: 250px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    background-color: #ffffff;
    color: #56c02b;
    border-radius: 0 0 10px 10px;
    transition: max-height 0.5s ease;
    padding: 0 5px;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.infosubnautica {
    color: #0a97d9;
}

.infocivilization {
    color: #3f7e44;
}

.imgcivilization {
    object-position: 100% 10%;
}

.infoeco, .infoanno {
    color: #bf8b2e;
}

.imgeco {
    object-position: 100% 10%;
}

.imganno {
    object-position: 100% 10%;
}

.infoskyline {
    color: #fd9d24;
}

.infoplague {
    color: #19486a;
}

.infostardew {
    color: #dda63a;
}

.imgstardew {
    object-position: 100% 10%;
}

.terraria:hover img{
    border-radius: 10px 10px 0px 0px;
    transition: border-radius 0.5s ease;
}

.terraria:hover .infoterraria {
    max-height: 100px;
    padding: 10px;
    cursor: pointer;
}

.stardew:hover img{
    border-radius: 10px 10px 0px 0px;
    transition: border-radius 0.5s ease;
}

.stardew:hover .infostardew {
    max-height: 100px;
    padding: 10px;
    cursor: pointer;
}

.anno:hover img{
    border-radius: 10px 10px 0px 0px;
    transition: border-radius 0.5s ease;
}

.anno:hover .infoanno {
    max-height: 100px;
    padding: 10px;
    cursor: pointer;
}

.zoo:hover img{
    border-radius: 10px 10px 0px 0px;
    transition: border-radius 0.5s ease;
}

.zoo:hover .infozoo {
    max-height: 100px;
    padding: 10px;
    cursor: pointer;
}

.skyline:hover img{
    border-radius: 10px 10px 0px 0px;
    transition: border-radius 0.5s ease;
}

.skyline:hover .infoskyline {
    max-height: 100px;
    padding: 10px;
    cursor: pointer;
}

.plague:hover img{
    border-radius: 10px 10px 0px 0px;
    transition: border-radius 0.5s ease;
}

.plague:hover .infoplague {
    max-height: 100px;
    padding: 10px;
    cursor: pointer;
}

.subnautica:hover img{
    border-radius: 10px 10px 0px 0px;
    transition: border-radius 0.5s ease;
}

.subnautica:hover .infosubnautica {
    max-height: 100px;
    padding: 10px;
    cursor: pointer;
}

.eco:hover img{
    border-radius: 10px 10px 0px 0px;
    transition: border-radius 0.5s ease;
}

.eco:hover .infoeco {
    max-height: 100px;
    padding: 10px;
    cursor: pointer;
}

.minecraft:hover img{
    border-radius: 10px 10px 0px 0px;
    transition: border-radius 0.5s ease;
}

.minecraft:hover .infominecraft {
    max-height: 100px;
    padding: 10px;
    cursor: pointer;
}

.civilization:hover img{
    border-radius: 10px 10px 10px 0px;
    transition: border-radius 0.5s ease;
}

.civilization:hover .infocivilization {
    max-height: 100px;
    padding: 10px;
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: #fff;
    color: #000000;
    padding: 20px;
    margin-top: 70px;
    margin-bottom: -30px;
    width: 100%;
}