body {
 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;/*fonte usada no site*/
 
    margin: 0; /*Remove a margem padrão do navegador*/
 
    padding: 0; /*Remove o preenchimento padrão*/
 
    background-color: #F5F1ED; /*Cor de fundo clara*/
 
    text-align: left;/*centraliza o texto*/
}

.nome{
    padding-top:-50px;
}
 
 

header {
 
    background-color: #292828; /*Cor de escuro*/
 
    color:#ffffff; /*cor de fundo do texto*/
 
    padding: 1px; /*espaçamento interno*/

    padding-top: -30px;

    margin-left: -30px;

    margin-right: -45px;

    padding-left: 15px;
 
    text-align: left;/*centraliza o texto*/

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
header h1 {
    
    font-family: "Share Tech", sans-serif;
    
    font-weight: 400;
    
    font-style: normal;
    
    font-size: 50px;

    text-align: left;

    color: #ffffff;
  }

 
/*Estiliza os links do menu*/


nav ul {
 
    list-style-type: none;/*remove os marcadores da lista*/
 
    padding: 0;/*remove o preenchimento*/
 
}
 
 
 
nav li {
 
    display: inline; /*coloca os itens na horizontal*/
 
    margin-right: 30px;/*espaço entre os itens*/
 
    text-align: left;/*centraliza o texto*/
 
}
 
 
 
nav a {
 
    color: #ffffff; /* Cor do texto do link */
 
    text-decoration: none; /* Remove o sublinhado */
 
    font-weight: bold; /* Deixa o texto mais forte */
 
    padding: 8px 12px; /* Espaçamento interno dos links */
 
    border-radius: 5px; /* Cantos arredondados nos links */
 
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */

    font-size: 15px;
 
}
 
nav a:hover {
 
    text-decoration: underline;
 
}

.crie{
    text-align: center;

    font-family: "Share Tech", sans-serif;

    font-size: 20px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #e6edf3;
    padding: 20px;
}

h1 {
    color: #000000;
}

form {
    background-color: #292828;
    padding: 30px;
    border-radius: 12px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 0 10px rgba(88, 166, 255, 0.3);

}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
    width: 476px;
    padding: 10px;
    border: 1px solid #30363d;
    border-radius: 8px;
    background-color: #0d1117;
    color: #e6edf3;
}

fieldset {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #30363d;
    border-radius: 8px;
    margin-left: 1px;
}

legend {
    color: #ffffff;
    font-weight: bold;
}

input[type="checkbox"] {
    margin-right: 8px;
}

input[type="submit"],
input[type="reset"] {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #238636;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #2ea043;
}
