@font-face {
    font-family: 'Weight';
    src: url("fonts/weight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stretch Pro';
    src: url("fonts/stretch-pro.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url("fonts/nexa.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lexend';
    src: url("fonts/lexend.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend';
    scroll-behavior: smooth;
    transition: all 0.3s ease; /* da pra controlar a velocidade do slider aqui, com !important */
}

body.dark-mode,
.dark-btn.dark-mode,
.item.dark-mode,
.icon.dark-mode,
.container.dark-mode,
.carousel-control-next.dark-mode,
.carousel-control-prev.dark-mode {
    background-color: #222 !important;
    color: #fff !important;
}
.symbol i.dark-mode {
    background-color: #222 !important;
}

.symbol p.dark-mode, .container p.dark-mode {
    color: #fff;
}

.items.open {
    translate: 10px 0px;
    transition: translate 0.5s ease;
}

body {
    background-color: #e7e7e7;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    z-index: 50;
    align-items: center;
    position: fixed;
}

.items {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px;
    justify-self: center;
}

.logo {
    margin-right: 10px;
    display: flex;
    align-self: center;
    color: #000000;
    font-weight: bold;
    filter: drop-shadow(0px 5px 0px #000000);
    cursor: pointer;
}

.logo img {
    width: 80px;
}

.item {
    min-width: 100px;
    color: #000;
    background-color: #fff;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
    margin: 0;
    font-size: 13px;
    text-decoration: none;
    text-wrap: nowrap;
    border: 3px solid #000;
    filter: drop-shadow(0px 5px 0px #000);
    cursor: pointer;
}

.dark-btn {
    margin-left: 10px;
    width: 50px;
    color: #000;
    background-color: #ffffff;
    padding: 3px;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    border: 3px solid #000;
    filter: drop-shadow(0px 5px 0px #000);
    cursor: pointer;
}

.item:hover,
.logo:hover,
.dark-btn:hover,
.icon:hover,
.carousel-control-next:hover,
.carousel-control-prev:hover,
.symbol i:hover {
    translate: 0px 5px;
    filter: drop-shadow(0px 0px 0px #000);
    transition: 0.3s ease;
}

.item:active,
.dark-btn:active,
.icon:active,
.carousel-control-next:active,
.carousel-control-prev:active,
.symbol i:active {
    background-color: #4d945d !important;
    color: #fff !important;
}

.icon {
    display: none;
    height: 50px;
    width: 50px;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border: 3px solid #000;
    filter: drop-shadow(0px 5px 0px #000);
    cursor: pointer;
}

#menu {
    display: none;
}

@media (max-width: 768px) {

    /* para transformar o header em menu hamburguer */
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        padding: 20px;
    }

    .items {
        position: absolute;
        top: 100%;
        left: 0;
        flex-direction: column;
        transition: translate 0.5s;
        z-index: 20;
        translate: -150px 0px;
    }

    .icon {
        display: block;
        cursor: pointer;
        z-index: 30;
        font-weight: bolder;
    }

    .dark-btn,
    .logo {
        margin: 0;
    }
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    /* Anchor to the carousel container */
    top: 50%;
    /* Place at vertical midpoint */
    transform: translateY(-50%);
    /* Shift up by half the button height to center */
    height: 50px;
    width: 50px;
    color: #000 !important;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border: 3px solid #000;
    filter: drop-shadow(0px 5px 0px #000);
    opacity: 1 !important;
}

.carousel-control-prev {
    left: 15px;
    /* Position near the left edge */
}

.carousel-control-next {
    right: 15px;
    /* Position near the right edge */
}

.carousel-indicators {
    gap: 10px;
}

.carousel-indicators button {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
}

.carousel-indicators button.active {
    border: 3px solid #000;
    filter: drop-shadow(0px 3px 0px #000);
    background-color: #23432a;
    transition: 0.5s;
}

.symbols {
    display: flex;
    background-color: transparent;
    justify-content: center;
    gap: 100px;
    padding: 40px;
    padding-bottom: 0px;
    flex-wrap: wrap;
}

.symbol {
    display: flex;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    align-content: center;

}

.symbol i {
    width: 100px;
    height: 100px;
    align-content: center;
    font-size: 60px;
    background-color: #fff;
    color: #4d945d;
    border-radius: 50px;
    border: 3px solid #000;
    filter: drop-shadow(0px 5px 0px #000);
}

.symbol p {
    margin-top: 10px;
    font-size: 30px;
    color: #000;
    font-family: 'Weight';
}

.conjunto {
    display: flex;
    align-items: stretch;
    padding: 40px;
    gap: 40px;
}

.container {
    display: flex;
    box-shadow: 0px 5px 0px #000;
    border: 3px solid #000;
    border-radius: 50px;
    background-color: #fff;
    padding: 30px;
    flex-direction: column;
}

.container:hover {
    filter: drop-shadow(0px 0px 10px #0000004f)
}

.titulo {
    font-family: 'Stretch Pro';
    text-align: center;
    margin-bottom: 20px;
}

.container strong {
    color: #4d945d;
}