@font-face {
  font-family: 'Weight';
  src: url("fonts/weight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stretch Pro';
  src: url("fonts/stretch-pro.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: url("fonts/nexa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url("fonts/lexend.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend';
    scroll-behavior: smooth;
    transition: all 0.3s;
}

body.dark-mode {
    background-color: #222;
}

.dark-btn.dark-mode {
    background-color: #222;
    color: #fff;
}

.item.dark-mode {
    background-color: #222;
    color: #fff;
}

.container.dark-mode {
    background-color: #222;
    color: #fff;
}

body {
    background-color: #e7e7e7;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;    
    z-index: 50;
    align-items: center;
}

.items {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px;
    justify-self: center;
}

.logo {
    margin-right: 10px;
    display: flex;
    align-self: center;
    color: #000000;
    font-weight: bold;
    filter: drop-shadow(0px 5px 0px #000000);
    cursor: pointer;
}

.item {
    min-width: 100px;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
    margin: 0;
    font-size: 13px;
    text-decoration: none;
    text-wrap: nowrap;
    border: 3px solid #000;
    filter: drop-shadow(0px 5px 0px #000);
    cursor: pointer;
}

.dark-btn {
    margin-left: 10px;
    width: 50px;
    color: #000;
    background-color: #ffffff;
    cursor: pointer;
    padding: 3px;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    transition: 0.5s ease;
    text-wrap: nowrap;
    border: 3px solid #000;
    filter: drop-shadow(0px 5px 0px #000000);
    cursor: pointer;
}

.item:hover, .logo:hover, .dark-btn:hover {
    transform: translateY(5px);
    filter: drop-shadow(0px 0px 0px #000000);
}

.item:active, .dark-btn:active {
    background-color: #4d945d;
    color: #fff;
}

.icon {
    display: none;
    font-size: 30px;
}

#menu {
    display: none;
}
