body {
    font-family: "Jersey 10", sans serif;/*fonte usada no site*/
    margin: 0; /*Remove a margem padrão do navegador*/
    padding: 20px; /*Remove o preenchimento padrão*/
    background-color: #ffffff; /*Cor de fundo clara*/
    text-align: left;/*centraliza o texto*/
    font-size: 25px;
}

.nome{
    padding-top:-50px;
}

header {
    margin-top: -20px;
    background-color: #292828; /*Cor de escuro*/
    color:#ffffff; /*cor de fundo do texto*/
    padding: 0px; /*espaçamento interno*/
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    z-index: 100;
}

header h1 {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    text-align: left;
    color: #ffffff;
}

/*Estiliza os links do menu*/
nav ul {
    list-style-type: none;/*remove os marcadores da lista*/
    padding: 0;/*remove o preenchimento*/
}
 
nav li {
    display: inline; /*coloca os itens na horizontal*/
    margin-right: 30px;/*espaço entre os itens*/
    text-align: left;/*centraliza o texto*/
}
 
nav a {
    color: #ffffff; /* Cor do texto do link */
    text-decoration: none; /* Remove o sublinhado */
    font-weight: bold; /* Deixa o texto mais forte */
    padding: 8px 12px; /* Espaçamento interno dos links */
    border-radius: 5px; /* Cantos arredondados nos links */
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
    font-size: 15px;
}
 
nav a:hover {
    text-decoration: underline;
}

.crie{
    text-align: center;
    font-family: "Jersey 10", sans-serif;
    font-size: 60px;
    margin-top: -50px;
}

.container {
    min-width: 450px;
    margin: auto;
    margin-top: -60px;
    background-color: #292828;
    padding: 20px;
    width: 49.5%;
    height: 100%;
    min-width: fit-content;
    border-radius: 10px;
    color: #fff;
}

label {
    display: block;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    padding: 10px;
    background-color: #575757;
    border: none;
    border-radius: 2px;
}

input[type="text"]:focus, input[type="email"]:focus{
    outline: none;
    background-color: #6e6e6e;
    border-bottom: 2px solid #000000;
}

textarea {
    min-width: 100px;
    max-width: 910px;
    min-height: 70px;
    max-height: 300px;
    outline: none;
}

textarea:hover {
    outline: none;
    background-color: #6e6e6e;
    border-bottom: 2px solid #000000;
}

input[type="submit"], input[type="reset"] {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100px;
    margin-top: 15px;
    background-color: #5e5e5e;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #179f0f;
    color: white;
    font-weight: bold;
    transform: scale(1.1);
    transition: transform 0.5s;
}

input[type="reset"]:hover {
    background-color: #000000;
    color: white;
    font-weight: bold;
    transform: scale(1.1);
    transition: transform 0.5s;
}

.botoes {
    /* Um botão em cada lado */
    display: flex;
    justify-content: space-between;
    max-height: 70px;
}

.problemas {
    margin-bottom: 20px;
    border-color: #636363;
}